
.fakebody {
    margin: 0px 10px;   
}

h1 {
    font-family: "barlow";
    font-size: 55px;
    margin-top: 1.5rem;
    color: #353535;
    text-align: center;
    font-weight: 600;
}

h2 {
    font-family: "barlow";
    font-size: 36px;
    margin-top: 1.5rem;
    color: #353535;
    text-align: center;
    font-weight: 500;
}

h3 {
    font-family: "barlow";
    font-size: 30px;
    text-align: center;
    color: #353535;
    font-weight: 500;
}

h4 {
    font-family: "barlow";
    font-size: 26px;
    margin-top: 1.5rem;
    color: #ffffff;
    font-weight: bold;
}

p {
    font-family: "barlow";
    font-size: 16px;
}

a :hover {
    cursor: pointer;
}

.overskrift {
    color: white; 
    text-shadow: 
        -1px -1px 0 rgba(0, 0, 0, 0.5),  
         1px -1px 0 rgba(0, 0, 0, 0.5),
        -1px  1px 0 rgba(0, 0, 0, 0.5),
         1px  1px 0 rgba(0, 0, 0, 0.5); /* Brug en semi-transparent sort farve */
}


/* Navbar */

header {
    display: flex;
    align-items: center;
    padding-left:20px;
    padding-right:20px;
    margin-top: 5px;
}

.logo {
    margin-right: auto;
}

.logo img {
    width: 250px; 
    height: auto;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li a {
    padding: 10px;
    text-decoration: none;
    color: #353535;
    font-size: 16px;
    font-family: "barlow"; 
}

.underline {
  text-decoration: underline #c12d2d;
  

}

.button {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #c12d2d;
    border-radius: 8px;
    font-size: 16px;
    font-family: "barlow";
    flex-shrink: 0;
}

.button:hover {
    background-color: #6a1313;
    cursor: pointer;
}

.button-container {
    margin-left: 20px;
}

/* Slideshow Head */

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }

.slideshow-container img {
    width: 100%;
    height: 400px; /* Wählen Sie die gewünschte Höhe für die Bilder im Slideshow-Container */
    object-fit: cover; /* Skalierung, um den gesamten Bereich zu füllen und die Seitenverhältnisse beizubehalten */
}


/* Gemmer billederne som udgangspunkt */
.mySlides {
    display:none;
  }


.mySlides{
    width: 100%;
}

/* Knapper */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

/* Sæt "next" knap til den højre side */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

/* hover effekt */
.prev:hover, .next:hover {
    background-color: #6a1313;
  }

/* Cirkler under billederne */
.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 1rem;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

/* Banner knapper */

  .overlay {
    position: absolute;
    top: 50%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    }

.overlay p {
        color: white;
        font-size: 50px;
        font-family: "barlow";
        font-weight: bold;
        margin-bottom: 10px;
    }

.overlay a button {
        background-color: #c12d2d;
        color: white;
        font-family: "barlow";
        font-size: 25px;
        padding: 10px 15px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

.overlay a button:hover {
        background-color: #6a1313;
}


.banner {
    height: 416px;   
    background-color: #4B676A;  
    margin: auto;
    margin-top: 70px;     
}

.bannertxt{
    padding-top: 50px; 
    padding-left: 10px;
    text-shadow: 
    -1px -1px 0 rgba(0, 0, 0, 0.5),  
     1px -1px 0 rgba(0, 0, 0, 0.5),
    -1px  1px 0 rgba(0, 0, 0, 0.5),
     1px  1px 0 rgba(0, 0, 0, 0.5); 
}

.navigation ul {
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    flex-direction: row; 
    text-align: center;
    align-items: center; 
  }
  
  .navigation li {
    margin-left: 1em;
    padding: 0.3em;
  }
  
  .navigation li a {
    text-align: center;
    text-decoration: none;
  }

/*Burger Menu*/
.sidenav {
  height: 100%;
  width: 0; 
  position: fixed;
  z-index: 1;
  top: 0; 
  right: 0; /* Ændret fra left: 0; */
  background-color: #929393; 
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: "barlow";
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #aad9d9;
}

.sidenav .closebtn {
font-family: "barlow";
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

.closebtn {
z-index: 20;
}

#menu-title {
  font-family: 'Questrial', sans-serif;
  font-size: 40px;
  color: #13110e;
  cursor: pointer;
  line-height: 60px;
  margin-left: 66px;
}

/* Slut Burger Menu*/

.frivilligknap {
    height: 50px;   
    width: 220px;   
    background-color: red;
    border-radius: 10px;    
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    margin-top: 5px;
}

.dots {
  margin-bottom: 1rem;
}

/* Om Bedre Psykiatri afsnit */
.gørenforskel {
  text-align: center;
  padding: 3rem;
  background-color: rgb(146, 192, 202, 0.8);     
  padding-bottom: 80px;
  
}

.gørenforskel h1 {
  color: white;
}

.tekststykke {
  color: white;
  line-height: 200%;
  margin-bottom: 3em;
  margin-top: 3em;
  font-weight: 300;
}

strong {
  font-weight: 600;
}

.billede {
  display: block;
  width: 500px;
  height: auto;
  margin-bottom: 2em;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.container-frivillig {
  margin: 0 auto;
  width: 100%; 
  padding: 0 50px;
  display: flex; 
  justify-content: center; 
  align-items: center;
  max-width: 1300px; 
}

.split {
  display: flex;
  flex-direction: column;
}


.knap {
  padding: 20px 30px;
  text-decoration: none;
  color: white;
  background-color: #c12d2d;
  border-radius: 8px;
  font-family: "barlow";
  font-size: larger;
}

.knap:hover {
  background-color: #6a1313;
}

.knap-container {
  margin-left: 20px;
}

.knap-position {
  display: flex;
  justify-content: center; 
  align-items: flex-end; 
  padding: 1em;
  }

/* Illustrationer afsnit */

.friviilig {
  text-align: center;
  padding: 3rem;
  padding-bottom: 80px;
}

.hvadfrivillig {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.illusektion {
    text-align: center;
    padding: 3rem;
}

.illukasser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oneliner {
  margin-top: 15px;
  padding: 0px 80px;
  font-weight: 450;
}


.illu {
    height: 300px;
    max-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    margin-top: 25px;
}

.louise {
  text-align: center;
}


.læsmereknap {
    background-color: #4B676A;
    height: 55px;
    max-width: 320px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 90px;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 18px;  
}


/* footer */

.container-footer {
    margin: 0 auto;
    width: 100%; 
    padding: 0 100px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #4B676A;
    font-family: "barlow";
}

.ikon-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  justify-content: center;
  padding: 2rem;
  text-align: left;
  gap: 2rem;
}

a, .hyperlink-footer {
    color: #fefefe;
    font-size: 18px;
    
  }

 .hyperlink-footer:hover {
    display: inline-block;
    text-decoration: underline; 
    transition: 0.2s;
    cursor: pointer;
  }

.social-media-icons {
        list-style: none;
        padding-left: 15px;
        margin: 0;
    }
    
.social-media-icons li {
        display: inline-block;
        
    }
    
.social-media-icons img {
        width: 40px; 
        height: 40px;
        border-radius: 50%; 
    }

.formular-section {
    
}

/* Kontaktformular start */ 
.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: beige;
  height: 600px;
  
}

.contact h2 {
  color: black;

}


.contact form {
  width: 600px;
  text-align: center;

}

form .input-box {
  display: flex;
  justify-content: space-between;

}

.input-box .input-field {
  width: 48.5%;
}

.field .item {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid #0ef;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: black;
  margin: 12px 0;


}

.field.error .item {
  border-color: red;
}

.field .item:placeholder {
  color: rgba(255, 255, 255, .3);
}

.field .error-txt {
  font-size: 14px;
  color: #d93025;
  text-align: left;
  margin: -5px 0 10px;
  display: none;
}

.field.error .error-txt {
  display: block;
}

form .textarea-field .item {
  resize: none;

}

form .textarea-field .error-txt {
  margin-top: -10px;

}

form button {
  padding: 12px 32px;
  background: #0ef;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #0ef;
  font-size: 16px;
  color: #333;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: .5s;
  
}

form button:hover {
  box-shadow: none;
}

/* Kontaktformular slut*/ 

/* Billedegaleri START*/
.containerBillede {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50%;
  }


  .cursor {
    cursor: pointer;
  }
  
  .billedegalleri {
    display: none;
  }

  .tidligere,
  .næste {
    cursor: pointer;
    position: absolute;
    display: flex;
    top: 30%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
  }


  .næste {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
 
  .tidligere:hover,
  .næste:hover {
    background-color: #c12d2d;
  }
  

  .nummertekst {
    color: #f2f2f2;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-family: "barlow";
  }
  

  .skrift {
    text-align: center;
    background-color:rgb(146, 192, 202);
    padding: 10px 16px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .kolonne {
    float: left;
    width: 33.3%;
    font-family: "barlow";
    
  }
  

  .demo {
    opacity: 0.6;
    margin-top: 5px;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .kolonne img {
    border-radius: 10px; 
  }

  .enkelt-billede {
    border-radius: 10px; 
  }
/* Billedegaleri SLUT*/

@media (min-width:640px) {
  .ikon-grid {
    grid-template-columns: repeat(2, 1fr); 
    max-width: 900px;
  }
}


@media (max-width: 1000px) {

  .nav-menu {
    display: none;
  }

  .button-container{
    display: none;
  }
}

  
@media (min-width: 1001px) {
 
.burger {
  display: none;
}

  .ikon-grid {
    grid-template-columns: repeat(4, 1fr); 
    gap: 5rem;
  }


    .illusektion {
        display: flex;
        flex-direction: row;   
        margin-top: 20px;
        gap: 20px;     
    }

    .illukasser {
        width: 800px;
        flex-direction: column;
        align-items: center;
    }

    .containerBillede{
        max-width: 80%;
        margin-top: 30%;
    }

    .split { 
      flex-direction: row;
    }
  
      .split > * {
      flex-basis: 100%;
    }
  
    .split > * + * {
      margin-left: 3em;
    }

}