
.fakebody {
    margin: 0px 10px;   
}

h1 {
    font-family: "barlow";
    font-size: 55px;
    margin-top: 2cm;
}

h2 {
    font-family: "barlow";
    font-size: 36px;
    margin-top: 1.5rem;
}

h3 {
    font-family: "barlow";
    font-size: 30px;
    text-align: center;
}

h4 {
    font-family: "barlow";
    font-size: 26px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
    font-weight: bold;
}

p {
    font-family: "barlow";
    font-size: 16px;
}

a :hover {
    cursor: pointer;
}


/* Navbar */

header {
    display: flex;
    align-items: center;
    padding-left:20px;
    padding-right:20px;
    margin-top: 5px;
}

.logo {
    margin-right: auto;
}

.logo img {
    width: 250px; 
    height: auto;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li a {
    padding: 10px;
    text-decoration: none;
    color: #353535;
    font-size: 16px;
    font-family: "barlow"; 
}



.button {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #c12d2d;
    border-radius: 8px;
    font-size: 16px;
    font-family: "barlow";
    flex-shrink: 0;
}

.button:hover {
    background-color: #6a1313;
}

.button-container {
    margin-left: 20px;
}

/* Slideshow Head */

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }

.slideshow-container img {
    width: 100%;
    height: 400px; /* Wählen Sie die gewünschte Höhe für die Bilder im Slideshow-Container */
    object-fit: cover; /* Skalierung, um den gesamten Bereich zu füllen und die Seitenverhältnisse beizubehalten */
}


/* Gemmer billederne som udgangspunkt */
.mySlides {
    display:none;
  }


.mySlides{
    width: 100%;
}

/* Knapper */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

/* Sæt "next" knap til den højre side */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

/* hover effekt */
.prev:hover, .next:hover {
    background-color: #6a1313;
  }

/* Cirkler under billederne */
.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }



  .overlay {
    position: absolute;
    top: 50%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    }

.overlay p {
        color: white;
        font-size: 50px;
        font-family: "barlow";
        font-weight: bold;
        margin-bottom: 10px;
    }

.overlay a button {
        background-color: #c12d2d;
        color: white;
        font-family: "barlow";
        font-size: 25px;
        padding: 10px 15px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

.overlay a button:hover {
        background-color: #6a1313;
}




.banner {
    height: 416px;   
    background-color: #4B676A;  
    margin: auto;
    margin-top: 70px;     
}

.bannertxt{
    padding-top: 200px; 
    padding-left: 10px;

}




.navigation ul {
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    flex-direction: row; 
    text-align: center;
    align-items: center; 
  }
  
  .navigation li {
    margin-left: 1em;
    padding: 0.3em;
  }
  
  .navigation li a {
    text-align: center;
    text-decoration: none;
  }

/*Burger Menu*/
.sidenav {
  height: 100%;
  width: 0; 
  position: fixed;
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: #929393; 
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Questrial', sans-serif;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #aad9d9;
}

.sidenav .closebtn {
font-family: 'Questrial', sans-serif;
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

.closebtn {
z-index: 20;
}


#menu-title {
  font-family: 'Questrial', sans-serif;
  font-size: 40px;
  color: #7b746b;
  cursor: pointer;
  line-height: 50px;
  margin-left: 66px;
}

.button2 {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #c12d2d;
  border-radius: 8px;
  font-size: 16px;
  font-family: "barlow";
  flex-shrink: 0;
}

.button2:hover {
  background-color: #6a1313;
}

.button-container2 {
  position: sticky;
}

/* Slut Burger Menu*/

.frivilligknap {
    height: 50px;   
    width: 220px;   
    background-color: red;
    border-radius: 10px;    
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    margin-top: 5px;
}


.gørenforskel {
    text-align: center;
    padding: 3rem;
}

.hvadfrivillig {
    text-align: center;
    margin-top: 60px;
}

.illusektion {
    margin-top: 10px;
    text-align: ;
}

.illukasser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illukasser h4 {
    text-align: center;
    margin-top: 20px;
}

.illukasser p {
    text-align: center;
}


.illu {
    height: 320px;
    max-width: 320px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}

.læsmereknap {
    background-color: #569B78;
    height: 55px;
    max-width: 320px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 90px;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 18px;  
}

/* footer */

.container-footer {
    margin: 0 auto;
    width: 100%; 
    padding: 0 100px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #4B676A;
    font-family: "barlow";
}

.ikon-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  justify-content: center;
  padding: 2rem;
  text-align: left;
  gap: 2rem;
}

a, .hyperlink-footer {
    color: #fefefe;
    font-size: 18px;
  }

 .hyperlink-footer:hover {
    display: inline-block;
    text-decoration: underline; 
    transition: 0.2s;
  }

.social-media-icons {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
.social-media-icons li {
        display: inline-block;
        margin-right: 10px; 
        margin-bottom: 20px;
    }
    
.social-media-icons img {
        width: 40px; 
        height: 40px;
        border-radius: 50%; 
    }

.formular-section {
    
}

/* Billedegaleri START*/
.containerBillede {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50%;
  }


  .cursor {
    cursor: pointer;
  }
  
  .billedegalleri {
    display: none;
  }

  .tidligere,
  .næste {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .næste {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
 
  .tidligere:hover,
  .næste:hover {
    background-color: #c12d2d;
  }
  

  .nummertekst {
    color: #f2f2f2;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-family: "barlow";
  }
  

  .skrift {
    text-align: center;
    background-color: #569B78;
    padding: 10px 16px;
    color: white;
    border-radius: 10px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .kolonne {
    float: left;
    width: 33.3%;
    font-family: "barlow";
    
  }
  

  .demo {
    opacity: 0.6;
    margin-top: 5px;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .kolonne img {
    border-radius: 10px; 
  }

  .enkelt-billede{
    border-radius: 10px; 
  }
/* Billedegaleri SLUT*/

@media (min-width:640px) {
  .ikon-grid {
    grid-template-columns: repeat(2, 1fr); 
    max-width: 900px;
  }
}


@media (max-width: 1000px) {

  .nav-menu {
    display: none;
  }

  .button-container{
    display: none;
  }
}

  
@media (min-width: 1001px) {
 
.burger {
  display: none;
}

  .ikon-grid {
    grid-template-columns: repeat(4, 1fr); 
  }

  .ikon-item {
    margin-right: 50px;
  }

    .illusektion {
        display: flex;
        flex-direction: row;   
        margin-top: 20px;
        gap: 20px;     
    }

    .illukasser {
        width: 800px;
        flex-direction: column;
        align-items: center;
    }

    .containerBillede{
        max-width: 50%;
        margin-top: 20%;
    }

}